@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Roboto+Slab&display=swap');

body{
    
font-family: 'Roboto Slab', serif;
}
h1{
    color:red;
    font-family: 'Balsamiq Sans', cursive;
}
