@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Roboto+Slab&display=swap');

:root{
    --primary-color: blue; 
    
}
body{
    font-family: 'Balsamiq Sans', cursive;
    color: black;


}
h1{
     
    color:#4B6587;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    padding: 2rem;

}
.h2{
    
    padding:  3rem,3rem,3rem,3rem;
    text-align: center;
    font-size: 25px;
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}
/** Fluid container is used for navs!**/
.container-center{
    max-width: 600%;
    margin:auto;
}
/**Links**/
.primary{
    color:red;
}
/* Style the navigation bar */
.navbar {
    width: 95%;
    background-color:#0483aa;
    overflow: auto;
    margin:3% 3%;
    color:whitesmoke;
  }
  
  /* Navbar links */
  .navbar a {
    float: right;
    text-align: left;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin: 12px;
    
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color:#aa8c04;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #cca704;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels 
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      
    }
  }*/
  /*header-Block*/
  
  .hero{
      padding:1rem;
    
  }
  .hero .hero-img{
      max-width:50%;
      display:block;
      margin:auto;
  }
  .hero hero-heading{
      font-size: 10% ;
      
     
  }
  .hero h4{
    text-align: center;
    font-size:small;
    color:teal;
}







  /*LISTS*/


  


  /*Footer section*/
  .footer{
    width: 100%;
    background-color:#0483aa;
    overflow: auto;
  }
  .footer a{

    float: center;
    text-align: center;
    padding: 12px, ;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
